<div class="top-header">
    <div class="top-header-content">

        <div class="promo-text">
            Summer Sale For All Swim Suits And Free Express Delivery - OFF 50%!
            <a href="#" class="shop-now">Shop Now</a>
        </div>

        <div class="language-select">
            English <i class="fa fa-chevron-down"></i>
        </div>

    </div>
</div>
